.skeleton {
  background: linear-gradient(
    90deg,
    rgba(116, 159, 130, 0.05) 25%,
    rgba(116, 159, 130, 0.1) 50%,
    rgba(116, 159, 130, 0.05) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
